@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

#root {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}

.brand{
  min-width: 48px;
  height: 48px;
  background-image: url('assets/react.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin-inline-end: 1rem;
}


.ant-card-body{
  padding: 0;
}